@font-face
  font-family 'icomoon'
  src url('../fonts/icomoon.eot?uc1nsc')
  src url('../fonts/icomoon.eot?uc1nsc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?uc1nsc') format('truetype'),
    url('../fonts/icomoon.woff?uc1nsc') format('woff'),
    url('../fonts/icomoon.svg?uc1nsc#icomoon') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icomoon' !important
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

.icon-th-menu
  &:before
    content "\e92e"

.icon-github-with-circle
  &:before
    content "\e92a"

.icon-menu
  &:before
    content "\e92d"

.icon-linkedin-with-circle
  &:before
    content "\e92c"

.icon-twitter-with-circle
  &:before
    content "\e92b"

.icon-aws
  &:before
    content "\e900"

.icon-aws3
  &:before
    content "\e901"

.icon-aws31
  &:before
    content "\e902"

.icon-bitbucket
  &:before
    content "\e903"

.icon-bitbucket1
  &:before
    content "\e904"

.icon-bootstrap
  &:before
    content "\e905"

.icon-bootstrap1
  &:before
    content "\e906"

.icon-css
  &:before
    content "\e907"

.icon-css1
  &:before
    content "\e908"

.icon-css2
  &:before
    content "\e909"

.icon-desarrollo
  &:before
    content "\e90a"

.icon-ec2
  &:before
    content "\e90b"

.icon-ec21
  &:before
    content "\e90c"

.icon-elasctic1
  &:before
    content "\e90d"

.icon-elastic
  &:before
    content "\e90e"

.icon-git
  &:before
    content "\e90f"

.icon-git1
  &:before
    content "\e910"

.icon-github
  &:before
    content "\e911"

.icon-gitlab
  &:before
    content "\e912"

.icon-gitlab1
  &:before
    content "\e913"

.icon-gulp
  &:before
    content "\e914"

.icon-gulp1
  &:before
    content "\e915"

.icon-html
  &:before
    content "\e916"

.icon-html1
  &:before
    content "\e917"

.icon-html2
  &:before
    content "\e918"

.icon-ipad
  &:before
    content "\e919"

.icon-ipad1
  &:before
    content "\e91a"

.icon-iphone
  &:before
    content "\e91b"

.icon-iphone1
  &:before
    content "\e91c"

.icon-jquery
  &:before
    content "\e91d"

.icon-jquery1
  &:before
    content "\e91e"

.icon-js
  &:before
    content "\e91f"

.icon-mac
  &:before
    content "\e920"

.icon-mac1
  &:before
    content "\e921"

.icon-postcss
  &:before
    content "\e922"

.icon-postcss1
  &:before
    content "\e923"

.icon-react
  &:before
    content "\e924"

.icon-responsive
  &:before
    content "\e925"

.icon-webpack
  &:before
    content "\e926"

.icon-webpack1
  &:before
    content "\e927"

.icon-yo-yo
  &:before
    content "\e928"

.icon-yo-yo1
  &:before
    content "\e929"

